<% content_for("include") do %>
	<%= javascript_include_tag :defaults %>
<% end %>

<%= error_messages_for("image") %>
<%= form_remote_tag(:url => {:action => 'save'}, :update => 'upload', :html => {:multipart => true}) %>
