<div id="upload" style="float:right; width:400px; height: 400px; overflow:auto;">
<%= link_to_remote "Insert an Image", :url => {:action => :upload, :controller => 'image'}, :update => 'upload' %>
</div>
