<% if @topics.size == 0 %>
	No recent topics.
<%  else %>

<% @topics.each{|topic| %>
	<div class = "topic_summary_link">
		<%= link_to(Ah(topic.subject), {:controller => "forum", :action => "view",:topic=>topic.id},{:class=>'topic_summary_link'}) %>
	</div>
<% } %>

<% end %>