<table width="100%" class="link_bar">
<tr><td><%= link_to "Preview", :action => "preview",:id=>params[:id] %>
</td><td><%= link_to "Edit", :action => "edit",:id=>params[:id] %>
</td><td><%= link_to "Versions", :action => "versions",:id=>params[:id] %>
</td></tr>
</table>
<br/>

<%= render_partial 'news', :document=>@document %>
