<% for column in MaintenanceDate.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @maintenance_date.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @maintenance_date %> |
<%= link_to 'Back', :action => 'list' %>
