<%= link_to 'Aircraft Types', :controller => 'aircraft_type', :action => 'index' %><br/>
<%= link_to 'Aircraft', :controller => 'aircraft', :action => 'index' %> <br/>
<%= link_to 'Aircraft Maintenance', :controller => 'maintenance', :action => 'list' %>

