<%= error_messages_for 'reservation_rule' %>

<!--[form:reservation_rule]-->
<p><label for="reservation_rule_description">Description</label><br/>
<%= text_area 'reservation_rule', 'description'  %></p>

<p><label for="reservation_rule_code">Code</label><br/>
<%= text_area 'reservation_rule', 'code'  %></p>
<!--[eoform:reservation_rule]-->

