<% for column in ReservationRule.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @reservation_rule.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @reservation_rule %> |
<%= link_to 'Back', :action => 'list' %>
