<div id="schedule_browser">
<div style="height:400px"></div>
</div>
<script type="text/javascript">
new Ajax.Updater('schedule_browser', '/reservation/schedule', {asynchronous:true, evalScripts:true})

function refreshContent(){
	new Ajax.Request('/reservation/update_schedule', {asynchronous:true, evalScripts:true, parameters:'date=' + schedule_date})
}
</script>
