<div id="reservation_browser">
<%= render :partial=>'list' %>
</div>

<script type="text/javascript">
function refreshContent(){
	new Ajax.Updater('reservation_browser', '<%= request.env['REQUEST_URI'] %>', {asynchronous:true, evalScripts:true})
}
</script>
