<%= start_form_tag :action => 'new' %>
  <%= render :partial => 'editor' %>
  <%= submit_tag "Create Static Page" %>
<%= end_form_tag %>

<script type="text/javascript">
  activate_on_load('document_url_name')
</script>