<p>Enter your email address in the field below and click 'Reset Password' to have instructions on how to retrieve your forgotten password emailed to you.</p>
<%= start_form_tag %>
  <label>Email Address: </label><%= text_field_tag 'user[email]',nil, :size => 30 %> 
    <%= submit_tag 'Submit request' %>
<%= end_form_tag %>
