<%= link_to "Create New Flight Record", :action => "new_flight_record" %> <br/>
<%= link_to "Create Supplies/Correction Billing Record", :action => "new_record" %> <br/>

<%= link_to "Edit Instructor/Aircraft rates", :action => "edit_rates" %>	<br/>
<%= link_to "View Reports", :action => "admin_report" %> <br/>
<%= link_to "Export Raw Billing Data", :action => "raw_report" %>
