<div class="nav_tab">
    <table cellpadding="0px" cellspacing="0px">
        <tr><td></td><td></td><td class="horz_line"></td><td></td><td></td></tr>
        <tr><td></td><td class="tab_dot"></td><td></td><td  class="tab_dot"></td><td></td></tr>
        <tr><td class="vert_line"></td><td></td><td>
            <div class="tab_center" id="<%=tab_id%>_tab"> <%= link %> </div>
            </td><td></td><td class="vert_line"></td></tr>
    </table>
</div>